body{
    background-color: rgb(211, 211, 211);
}

.navbar {
    background-color: rgb(172, 0, 89);
}

.nav-link{
    background-color: rgba(172, 0, 89, 0.858);
    }

    .container{
        background-color: white;
    }